@import "tailwindcss";

body {
  margin: 0;
  background: transparent;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333;
}

/* Emote styling */
.emote {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin: 0 1px;
  object-fit: contain;
  display: inline-block;
}
